.footer-component {
  background-color: var(--primary-light-color);
  color: var(--white);
  padding: 60px 0 20px;
}

.footer-component .footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-component .footer-logo-section {
  display: grid;
}

.footer-component .footer-logo {
  width: 120px;
  margin-bottom: 15px;
}

.footer-component .icons {
  display: flex;
  gap: 15px;
}

.footer-component .social-icon {
  color: var(--secondary-color);
  transition: color 0.3s ease;
  cursor: pointer;
}

.footer-component .social-icon:hover {
  color: var(--btn-color);
}

.footer-component .footer-tagline {
  font-size: var(--smallfont);
  font-weight: 100;
  color: var(--btn-color);
  margin-bottom: 10px;
}

.footer-component .footer-description {
  font-size: var(--smallfont);
  line-height: 1.5;
  margin-bottom: 20px;
}

.footer-component h3 {
  font-size: var(--heading6);
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--secondary-color);
}

.footer-component ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-component ul li {
  margin-bottom: 10px;
}

.footer-component ul li a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: var(--smallfont);
  transition: color 0.3s ease;
}

.footer-component ul li a:hover {
  color: var(--btn-color);
}

.footer-component .footer-contact p {
  font-size: var(--smallfont);
  margin-bottom: 10px;
  color: var(--secondary-color);
}

.footer-component .footer-social {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.footer-component .footer-sports-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 15px;
}

.footer-component .footer-social a {
  color: var(--white);
  font-size: 20px;
  transition: color 0.3s ease;
}

.footer-component .footer-social a:hover {
  color: var(--primary-color);
}

.footer-component .footer-bottom {
  max-width: 1200px;
  margin: 40px auto 0;
  padding: 20px 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  border-top: 1px solid var(--secondary-color);
}

.footer-component .footer-bottom p {
  font-size: var(--extrasmallfont);
  color: var(--secondary-color);
}

/* Responsive styles */
@media (max-width: 1024px) {
  .footer-component .footer-container {
    display: flex;
    justify-content: space-around;
  }

  .footer-component .footer-sports-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .footer-component {
    padding: 40px 0 15px;
  }

  .footer-component .footer-container {
    grid-template-columns: 1fr;
    gap: 25px;
    display: grid;
  }

  .footer-component .footer-sports-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer-component .footer-bottom {
    margin-top: 30px;
  }
}
@media (max-width: 500px) {
  .footer-component .footer-logo-section {
    display: grid;
    justify-content: flex-start;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .footer-component .footer-logo {
    width: 75px;
  }

  .footer-component .footer-links {
    display: grid;
  }

  .footer-component .footer-links ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .footer-component .footer-sports {
    display: grid;
  }

  .footer-component .footer-sports-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
